@media screen and (max-width: 1399px) {
    .banner {
        width: unset;
    }
}

@media screen and (max-width: 768px) {
    .banner {
        height: 480px;
        background-size: cover;
    }
}

@media screen and (max-width: 575px) {
    .banner {
        height: 320px;
    }

    .slick-next.slick-arrow {
        right: 10px;
    }

    .slick-prev.slick-arrow {
        left: 10px;
    }
}

@media screen and (max-width: 991px) {
    .banner_3 .highlighted-text {
        -webkit-text-stroke: 1px #ebe7e1;
        color: #e42027;
    }

    .banner_2 .highlighted-text {
        -webkit-text-stroke: 1px #84a4cf;
        color: #052c65;
    }

    .stroked-text {
        -webkit-text-stroke: 1px #84a4cf;
    }
}



