@media screen and (max-width: 1399px) {
    .banner {
        width: unset;
    }
}

@media screen and (max-width: 768px) {

    .banner {
        height: 480px;
        background-size: cover;
    }
}

@media screen and (max-width: 575px) {
    /*.slider {*/
    /*    padding-right: 12px!important;*/
    /*    padding-left: 12px!important;*/
    /*}*/
    .banner {
        height: 320px;
    }

    .slick-next.slick-arrow {
        right: 10px;
    }

    .slick-prev.slick-arrow {
        left: 10px;
    }
}